{% extends "layout.twig" %}

{% block css %}
<style>

</style>
{% endblock css %}

{% block body %}
    <div class="pt-5 d-flex align-items-center flex-column">
        <h1 class="h1">Bem-vindo(a) ao Amaris</h1>
        <h1 class="h3 mb-5">Aproveite do simples, porém eficiente framework.</h1>
        <h1 class="h5 mt-5" style="text-indent: 30px">
            O Amaris permite que você defina rotas e seus manipuladores correspondentes de forma rápida e fácil, gerencie métodos HTTP e defina parâmetros esperados.
            Ele inclui recursos para garantir a segurança e a confiabilidade da sua API, como validação de entrada de dados e autenticação de usuários.
            O Amaris é fácil de integrar com outras bibliotecas e pacotes, tornando-o ideal para projetos de qualquer tamanho.
            Ele é projetado para tornar o desenvolvimento de APIs muito mais fácil e eficiente.
            Com este framework, você pode criar APIs de alta qualidade de forma muito mais rápida do que antes. 
            Se precisar de ajuda, nossa equipe de suporte estará pronta para ajudá-lo. Obrigado por escolher o nosso mini framework!</h1>
            <button type="button" class="btn btn-primary" id="alerta" >Alertar</button>
    </div>
{% endblock css %}


{% block js %}
<script>
    $("#alerta").click(() => {
        alerta("Oii")
    })
</script>
{% endblock js %}