{% extends 'layout_noauth.twig' %}

{% block css %}
<style>
.main-404{
    padding:0;
    margin:0;
    display         : flex;
    justify-content : center;
    align-items     : center;
    height          : 100vh;
    width           : 100vw;
    background-color: burlywood;
    box-sizing: border-box;
}
</style>
{% endblock css %}

{% block body %}
<div class="main-404"> 
    <h1>404 | Não encontrado </h1>
</div>
{% endblock body %}