<div id="modalUpdatePassword" class="modal fade" tabindex="-1" >
    <div class="modal-dialog">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title">Alteração de senha</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-4">
                <form id="formUpdatePass" name="formUpdatePass" class="row g-3" autocomplete="none">
                    <div class="col-12 col-md-12">
                        <label for="change_user_pass" class="form-label required-label">Nova senha</label>
                        <input id="url_req" name="url_req" type="hidden" value="{{route().link('update-password-user')}}">
                        <input id="change_user_pass" class="form-control required" name="user_pass" type="password" autocomplete="none" >
                    </div>
                    <div class="col-12 col-md-12">
                        <label for="confirm_change_pass" class="form-label required-label">Confirma senha</label>
                        <input id="confirm_change_pass" class="form-control required" name="confirm_pass" type="password" autocomplete="none">
                    </div>

                </form>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <button onclick="CloseModalPassword()" type="button" class="btn btn-outline-danger" >Cancelar</button>
                <button id="btnSalvarPassword" type="button" class="btn btn-primary" >Salvar</button>
            </div>
        </div>
    </div>
</div>