@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --sizeBorder: 1.5px;
    --primary-text-color: #fff;
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    height     : 100vh !important;
    min-height : 100vh;
    min-width  : 100vw;
    display    : inline-block;
}

footer{
    position    : absolute;
    bottom      : 0;
    padding-left : 300px;
    display     : grid;
    place-items : center;
    width       : 100vw;
    padding     : 10px 0px;
    transition: all 0.4s;
}
.toggle-sidebar footer
{
    padding-left: 0px;
}
.invalid{
    border-color: #f00 !important;
}
.invalid ~ .fa-regular{
    color: #f00
}


.text-xs { font-size: .75rem !important}
.text-sm { font-size: .875rem !important}
.text-base { font-size: 1rem !important}
.text-lg { font-size: 1.125rem !important}
.text-xl { font-size: 1.25rem !important}
.text-2xl { font-size: 1.5rem !important}
.text-3xl { font-size: 1.75rem !important}
.text-4xl { font-size: 2rem !important}
.text-5xl { font-size: 2.5rem !important}
.text-6xl { font-size: 3rem !important}
.text-7xl { font-size: 4rem !important}
.text-8xl { font-size: 6rem !important}




