{% extends "layout.html" %}

{% block css %}
<style>

#formSip input[type='text']{
    text-transform: uppercase;
}
.permissions-list{
    list-style: none;
}

.dataTable td {
    vertical-align: middle !important;
}

</style>
{% endblock css %}

{% block body %}

{{ include("System/GroupPermission/modalFormPermissions.html") }}
{{ include("System/GroupPermission/modalFiltrosGroup.html") }}


<!-- <section class="section"> -->
    <div class="col-12 ">
        <div class="card ">
            <div class="card-header d-flex flex-row justify-content-between align-items-center">
                <span class="text-title">Grupos de permissões</span>
                <div>
                    <button id="btnFiltros" class="btn btn-outline-info btn-sm" >Filtros</button>

                    {% if CheckPermission(37) %}
                        <button type="button" onClick="NewGroup()" class="btn btn-primary btn-sm">Novo Grupo</button>
                    {% endif %}
                    
                </div>
            </div>
            <div class="card-body mt-4">
                <div class="row table-responsive">
                    <table id="tableGroups" class="table table-sm table-striped table-bordered w-100 "></table>
                </div>
            </div>
        </div>
    </div>

<!-- </section> -->

{% endblock body %}


{% block js %}
<script>

const validPermissions = new JustValidate('#formGroupPermissions', {
    errorFieldCssClass: ['invalid'],
    focusInvalidField: true,
});

validPermissions
.addField("#txtNomeGroup", [
    {
        rule: 'required',
        errorMessage: "Campo não pode ficar em branco"
    }
])
.addField("#group_users", [
    {
        rule: 'required',
        errorMessage: "Campo não pode ficar em branco"
    }
])
.onSuccess( () => {

    if( $(".selectPerm:checked").length === 0 ){
        alertaErro("Selecione pelo menos uma permissão para salvar.");
        return;
    }
    confirmaAcao(`Confirma salvar grupo de permissão?`, SaveFormGroup, [])
})


$(function(){
    GeraTabela();
    ModalDraggable();

    $("#group_users").select2({
        dropdownParent : $('#modalGroupPermissions'),
        closeOnSelect  : !$(this).attr('multiple'),
        
    });
    $("#group_status").select2({
        dropdownParent : $('#modalFiltrosGroup'),
        closeOnSelect  : !$(this).attr('multiple'),
    });

    $("#btnFiltros").click(() => filtrosGroup.show() );

    $("#btnFiltrar").click(function(){
        GeraTabela();
        filtrosSip.hide()
    })

    $(".selectAll").change( function(e){
        $(this)
        .parents(".permissions-list")
        .find(".form-check-input")
        .not(this)
        .prop("checked", this.checked)
    })
})

let filtrosGroup = new bootstrap.Modal("#modalFiltrosGroup", modalOption);
let formGroup    = new bootstrap.Modal("#modalGroupPermissions", modalOption);

const GeraTabela = () => {
    let form = $("#formFiltroGroup").serializeObject();

    $.ajax({url: '{{route().link("group-list")}}', method:"POST", data: form})
    .done(resp => {

        $('#tableGroups').DataTable({
            columns: [
                { data: 'group_permission_description', title: "Descrição",     className: "text-center"},
                { data: 'group_permission_created',     title: "Data Criação",  className: "text-center", render : renderFormataDataHora},
                { data: 'group_permission_status',      title: "Status",        className: "text-center", render: renderStatus, orderable: false  },
                { data: '',                             title: "Ações",         className: "text-center", render: renderAcoes, orderable: false },
            ],
            data    : resp,
            order   : [["0", 'asc']],
            destroy : true,
            buttons : ['pageLength', exportMenu('pdf', 'excelNumber')],
        });
    })
}

const renderStatus = (data) => {
    let status = "";
    switch(data){
        case "1":
            status = `<span class="badge bg-success">Ativo</span>`;
        break;
        case "0":
            status = `<span class="badge bg-danger">Inativo</span>`;
        break;
    }

    return status;
}

const renderAcoes = (data, type, row) => {
    let botoes = '&nbsp';
    
    {% if CheckPermission(28) %}
        botoes += `<button type='button' class='btn btn-primary btn-sm mx-1' onclick="ModalEditGroup(${row.id_group_permission}, '${row.group_permission_description}')" title='Editar grupo'><i class="fa-regular fa-edit"></i></button>`;
    {% endif %}

    {% if CheckPermission(29) %}
        
        if(row.group_permission_status === "1"){
            botoes += `<button onclick="ConfirmToggleStatus(${row.id_group_permission}, 0)" type='button' class='btn btn-danger btn-sm mx-1' title='Inativar grupo'><i class="fa-regular fa-xmark"></button>`;
        }else{
            botoes += `<button onclick="ConfirmToggleStatus(${row.id_group_permission}, 1)" type='button' class='btn btn-success btn-sm mx-1' title='Ativar grupo'><i class="fa-regular fa-check"></button>`;
        }
    {% endif %}

    return botoes;
}

const NewGroup = () => {
    ClearGroupForm();
    formGroup.show();
}

const ModalEditGroup = (id_group, nome) => {
    
    $.ajax({url: `{{route().link("group-form")}}${id_group}`})
    .done(resp => {
        console.log(resp)
        ClearGroupForm();
        Array.from(resp.permissions).forEach((v) =>{
            $(`#accordionPermissions input:checkbox[value='${v}']`).prop("checked", true)
        })
        $("#group_users").val(resp.users).change()
        $("#id_group").val(id_group)
        $(".modal-title span").text(UcWords(nome))
        $("#txtNomeGroup").val(UcWords(nome))
        formGroup.show();
    })
    
}

const SaveFormGroup = () => {
    let {permissions,id_group, group_users, txtNomeGroup} = $("#formGroupPermissions").serializeObject();

    if(typeof group_users == 'string'){
        group_users = [group_users];
    }

    let dataPost = {
        group_users,
        permissions,
        nome_group: txtNomeGroup
    }

    if( id_group === "" ){
        $.ajax({url: `{{route().link("new-group")}}`,type:"POST",dataType:"json", data: dataPost})
        .done(resp => {
            SaveGroupDone();
        })
    }else{
        $.ajax({url: `{{route().link("update-group")}}${id_group}`,type:"PUT",dataType:"json", data: dataPost})
        .done(resp => {
            SaveGroupDone();
        })
    }
}

const SaveGroupDone = () => {
    alerta("Grupo de permissões salvo com sucesso!", "Sucesso", "success");
    GeraTabela();
    CloseModal();
}

const ClearGroupForm = () => {
    $("#formPermissionsUser input:checkbox").prop("checked", false);
    $("#group_users").val("").change();
    validPermissions.refresh();
}

const CloseModal = () => {
    formGroup.hide();
    ClearGroupForm()
}

</script>

{% endblock js %}